{% extends 'base.html' %}

{% block content %}
    <h2>Add book form</h2>
    {% if added %}
        <div class="alert alert-success" role="alert">
          Вітаємо, Ви успішно додали книжку!
        </div>
    {% endif %}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group{% if field.errors %} is-invalid{% endif %}">
                <label for="{{ field.id_for_label }}" class="control-label">{{ field.label }}</label>
                {{ field }}
            </div>
        {% endfor %}
        <button class="btn btn-success float-right" type="submit">Add</button>
    </form>
{% endblock %}
